html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* ======================TYPO======================
======================================================= */

body{
  background: #000;
  max-width: 100vw;

  color: white;
  font-size: 14px;
  font-family: 'Cantarell', sans-serif;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
  color: #ba008e;
  /*rose*/
}
 h2{
  font-size: 1.1rem;
  color: #5ddcf1;
  /*bleu*/
 }
h3{
  font-size: 2.2rem;
  color: #ba008e;
  font-weight: bold;
  margin: 50px 0px;
}
h4{
  font-size: 1.6rem;
  color: #742a8f; /*violet*/
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}
a{
  text-decoration: none;
}
@media screen and (min-width:600px) {
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.2rem;
  }
}
@media screen and (min-width:1000px) {
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 1.5rem;
  }
}

.nodisplay{
  display:none
}

/*========== Text alignement ============*/
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}


/* ==========================LAYOUT====================
========================================================= */
.top-marg{
  margin-top: 25px;
}
.pad-sides{
  padding: 0px 10px;
}
.pad-bloc{
  padding: 5px;
}
@media screen and (min-width:600px){
  .pad-sides{
    padding: 10px 30px;
  }
  .pad-bloc{
    padding: 30px;
  }
  .top-marg{
    margin-top: 40px;
  }
}

/*========= Grids  ============*/
.grid{
  display:grid;
}
.grid12{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
}
.bloc1{
   grid-column: span 12 ;
}
.bloc2{
   grid-column: span 6 ;
}
.bloc3{
   grid-column: span 4 ;
}
.bloc4{
   grid-column: span 3 ;
}
.bloc6{
   grid-column: span 2 ;
}
.span5{
   grid-column: span 5 ;
}
.span8{
   grid-column: span 8 ;
}
.span10{
   grid-column: span 10 ;
}
.wide {
  grid-column: 1 / -1 ;
}

/*========= Grids alignement ===================*/
.justify-self-start {
	justify-self: start;
}
.justify-self-center {
	justify-self: center;
}
.justify-self-end {
	justify-self: end;
}

.align-self-start {
	align-self: start;
}
.align-self-center {
	align-self: center;
}
.align-self-end {
	align-self: end;
}

.grid-center{
	align-items: center;
  justify-items: center;
}

@media screen and (min-width:600px) and (max-width:1000px){
  .bloc1 {
    grid-column: span 6;
    }
}
@media screen and (min-width:1000px) {
  .bloc1 {
    grid-column: span 4;
    }
}

/*========= Flex  ============*/
.flex {
	display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}

/*========= Flex alignement ============*/
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-center {
	justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}

.align-start {
	align-items: flex-start;
}
.align-center {
	align-items: center;
}
.align-end {
	align-items: flex-end;
}
.flex-center {
   justify-content: center;
   align-items: center;
}
.align-around{
  align-content: space-around;
}


/* ===================BOUTONS & LOGOS=========================
=============================================================== */

.bouton {
  color: white;
  background: linear-gradient(70deg, #ba008e 0%, #ba008e 52%, white 55% , #742a8f 60%);
	background-size: 300%;
  background-position: 0% 0%;
  border-radius: 20px;
  border: 2px solid #ba008e;
  padding: 10px 10px;
  box-sizing: border-box;
  height: 40px;
  font-size: 0.9rem;
  transition: all 1.2s;


}

.bouton:hover {
background-position: 100% 100%;
transition: all 0.8s;
border: 2px solid #742a8f;
}
.bouton:focus{
  outline: 0;
}

.logo{
  width: 60px;
  margin: 20px;
}
.bouton:not(.bouton-cv, .bouton-envoi){
  margin: 25px 0px;
}


/* ==============================IMAGES============================
==============================================================- */

.bg-header{
  background:url(../img/univers_petW.jpg) no-repeat top center;
  background-size: cover;
  max-width: 1400px;
  margin: auto;



}

.arbres{
  width: 200px;
}

@media screen and (min-width:600px){
  .bg-header{
    background:url(../img/univers_moyW.jpg) no-repeat top center;
    }
    .arbres{
      width: 300px;
    }
}
@media screen and (min-width:1000px) {
  .bg-header{
    background:url(../img/univers_bigW.jpg) no-repeat top left;
    background-size: 120%;
    }
  .etoiles{
    width: 1000px;
    margin: 0 auto;
    overflow:hidden;
    background: url(../img/etoiles.png) no-repeat top center;
    grid-row: 1;
    animation: blink1 3s ease infinite, rotate 550s linear infinite;
    opacity: 0.1;
    border-radius: 50px;

  }
  .etoiles2{
    width: 1000px;
    margin: 0 auto;
    overflow:hidden;
    background: url(../img/etoiles2.png) no-repeat top center;
    grid-row: 1;
    animation: blink2 2s ease infinite, rotate 750s linear infinite;
    opacity: 0;
    border-radius: 50px;
  }
  @keyframes blink1{
    20% {
      opacity: 1;
    }
    70% {
      opacity: 0.4;
    }
  }
  @keyframes blink2{
    50% {
      opacity: 1;
    }
  }
  @keyframes rotate{
    0%{
      transform: rotate(0deg);
  }
    100%{
      transform: rotate(360deg);
  }
  }

    .arbres{
      width: 400px;
    }
}




/* ==========================header-========================
================================================================== */

.header-logo{
  grid-area: logo;
  width: 75px;
}
.header-titres{
  grid-area: titres;
}
.header-citation{
  grid-area: citation;
  width: 225px;
}
.header-arbre{
  grid-area: svg;
  margin-bottom: -2px;

}


.accueil{
  max-height: 900px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30vh 30vh 30vh ;
  grid-template-areas:
      "logo titres"
      "citation citation"
      "svg svg";
  grid-row: 1;
}
.intel{
  font-size: 2em;
  color: #cc0099;
  width: 300px;
  font-weight: bold;
  height: 70px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-right: .05em solid #cc0099;
  letter-spacing: .03em;
  transform: translatex(0px) translatey(0px);
  animation: type 6s steps(21, end),
             blink-caret .6s step-end infinite;
}

@keyframes type{
  from{
    width: 0;
  }
}
@keyframes blink-caret{
  50%{
    border-color: transparent;
  }
}

.creafun{

}

@media screen and (min-width:600px) {
  .accueil{
    grid-template-rows: 20vh 69vh ;
    grid-template-areas:
        "logo titres"
        "svg citation"
        ;
  }
  .header-citation{
    width: 550px;
    z-index: 5;
  }
  .intel{
  font-size: 4.2em;
  color: #cc0099;
  width: 550px;
  font-weight: bold;
  height: 70px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-right: .05em solid #cc0099;
  letter-spacing: .03em;
  transform: translatex(0px) translatey(-200px);
  }
  .creafun{
    width: 550px;
    height: 400px;
    margin: auto;

  }

}

@media screen and (min-width:1000px) {
  .header-citation{
    width: 1300px;
  }
  .intel{
    transform: translatex(0px) translatey(-300px);
  }

}

/* ========================MAIN===============================
================================================================== */
@media screen and (min-width:600px){
  .main{
    margin: auto;
  max-width: 1400px;
  background: url(../img/univers_moyW.jpg) fixed no-repeat top center black;


  }
}
@media screen and (min-width:1000px){
  .main{
  background: url(../img/univers_bigW.jpg) fixed no-repeat top center black;


  }
}

/* ==========================nav========================
====================================================== */

.nav{
  height: 120px;
  max-width: 100vw;
  position: sticky;
  top: 0;
  z-index: 30;

}
.nav-header{
  background: white;
  height: 100px;
  max-width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  margin: auto;
  max-width: 1400px;
  position:relative;
  z-index: 31;

}
.nav-titre,.nav-soustitre {
  font-weight: bold;
  padding: 0px 10px;
}
.nav-titres{
  width: 45%;
  order: 2;
  margin-top: 10px;
}
.nav-titre{
  font-size: 1rem;
}
.nav-soustitre{
  font-size: 0.8rem;
}
.nav-logo{
  height: 50px;
  order: 1;
  margin: 10px 10px;
  animation: logo 10s linear 0s infinite;
}

/*@keyframes logo {
  25%{
    transform:rotate(7deg);
  }
  50%{
    transform:rotate(-5deg);
  }
  75%{
    transform:rotate(10deg);
  }
  90%{
    transform:rotate(-6deg);
  }
}*/
.nav-burger{
  background-color: transparent;
  border: 0px;
  width: 30px;
  height: 30px;
  order: 3;
  padding-right: 20px;
}
.nav-burger:focus{
  outline:none;
}
.hamb-bar {
background: #ba008e;
border-radius: 1rem;
display: block;
height: 9px;
margin: .2rem;
transform-origin: 50% 50%;
transition: all 1s;
width: 55px;
}


.hamb-bar1.active  {
	transform: translatey(12px) rotate(40deg);
}

.hamb-bar2.active  {
	opacity: 0;
	transform: translatex(16px);
	transition: all .6s;
	width: 0;
}
.hamb-bar3.active  {
	transform: translatey(-12px) rotate(-40deg);
}

.nav-list {
  box-sizing: border-box;
  display: none;
  background-color: #ba008e;
  width: 60vw;
  height: 200px;
  z-index: 20;
  transform: translateY(-30%);
	transition:  all 1s;
}

@media screen and (max-width:1000px){
  .nav-list{
    position: relative;
    right:-40%;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 60% 100%);
    height: 230px;
  }

  .nav-list-ul{
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 25px;
  }
  .nav-list a{
  color: white;
  font-weight: bold;
  border-bottom: 2px white solid;
  }
  .nav-list li{
   margin:10px 0;
  }

}

@media screen and (min-width:1000px){
  .nav-header{
    background: white;
    height: 120px;
    max-width: 100vw;
    margin:auto;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);
  }

  .nav-logo{
    height: 85px;
    position: relative;
    z-index: 25;
  }


  .nav-list{
    box-sizing: border-box;
    display: none;
    background-color: #ba008e;
    width: 100%;
    height: 120px;
    z-index: 20;
    transform: translateY(-98%);
    padding-bottom: 15px;

  }
  .nav-list-ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

  }

  .nav-list a{
    font-size: 1.4rem;
    margin-right: 60px;
    color: black;
    font-size: 1.3rem;
    border-bottom: 1px black solid;


  }

  .nav-list a:hover{
   color: white;
   font-weight: bold;
   border-bottom: 2px white solid;

  }
.nav-titres{
  width: 72%;
  margin-top: 30px;
}

  .nav-titre{
    font-size: 1.4rem;
  }
  .nav-soustitre{
    font-size: 1.2rem;
  }
  .nav-burger{
    margin-top: 2px;
}

  .nav-list-ul li:not(:first-child)::before{
    content:" ";
    display: block;
    background-image: url(../img/nav-star.svg);
    width: 15px;
    height: 15px;
    transform: translateX(-38px) translateY(18px);
  }
}


/* ========================about me===============================
================================================================== */
.path-about{
  position: absolute;
  width: 900px;
  height: 650px;
  top: -90px;
  right: 0;
  display: none;
}
@media screen and (min-width:1300px){
  .path-about{
    display: block;
  }
}
.aboutme-section-titre{
  grid-area: titre;
  background: url(../img/aboutme.svg) no-repeat center top ;
  background-size: 6.9rem;
  padding-top: 5px;
}
.aboutme-section-avatar{
  background: url(../img/avatarhex.png) no-repeat top center;
  width: 300px;
  height: 300px;
  grid-area: avatar;
}
.aboutme-section-avatar:hover{
  background: url(../img/avatarhex2.png) no-repeat top center;
}
.article-profil{
  grid-area: profil;
}
.logos-linkedin{
  grid-area: linkedin;

}
.bouton-skills{
  grid-area: bouton;
}

.aboutme-section{

  grid-template-areas:
        "titre"
        "avatar"
        "profil"
        "linkedin"
        "bouton";
}

.aboutme-section-profil{
  max-width: 250px;
  padding: 0px 10px 20px 10px;
}

@media screen and (min-width:600px) {
  .aboutme-section{
    background-color: black;
    grid-template-columns: 40% 60%;
    grid-template-areas:
          ". titre"
          "avatar profil"
          "avatar profil"
          "linkedin profil"
          "bouton bouton";
      margin: 170px 0 200px 0;
      position:relative;
      z-index: 10;
    }
    .article-profil{
      background:url("../img/hexarose_1366.png") no-repeat center;
      min-width: 200px;
      min-height: 300px;
      }
    .aboutme-section-titre{
      justify-self:end;
      transform: translateY(-100%);
      margin-right: 50px;
      background-position: right top;
    }
    .aboutme-section:before{
      content: url(../img/bgbefore1.svg);
      height:auto;
      width: 100%;

      top: -70px;
      position:absolute;

    }
    .aboutme-section::after{
      content: url(../img/bgafter1.svg);
      height:auto;
      width: 100%;
      position:absolute;
      top: 98%;
      z-index:-1;
    }

  .aboutme-section-profil{
    padding: 40px 20px 40px 20px;
    max-width: 230px;
  }
  .bouton-skills{
    justify-self:end;
    transform: translateY(100%);
    margin-right: 50px;

  }
}

@media screen and (min-width:1000px){
  .aboutme-section{
    grid-template-columns: 40% 10% 50%;
    grid-template-areas:
          "titre titre titre"
          "avatar linkedin profil"
          "bouton bouton bouton";}

}
@media screen and (min-width:1000px) {
  .aboutme-section::before{
    top:-90px;
  }
}
@media screen and (min-width:1300px) {
.aboutme-section::before{
  top: -130px;}
}
/* ========================skills===============================
================================================================== */
.path-skills{
  position: absolute;
  width: 575px;
  height: 600px;
  top: 0;
  right: 0;
  display: none;
  grid-row: 1;
}
@media screen and (min-width:1300px){
  .path-skills{
    display: block;
  }
}

.skills-section li {
  padding: 0.9rem 1.7rem;
}

.skills-section-titre {
  grid-area: titre;
  background: url(../img/skills.svg) no-repeat center top ;
  background-size: 5rem;
  padding-top: 8px;
}
.skills-section-article-web {
  grid-area: articleweb;
  text-align: center;

}
.skills-section-article-design {
  grid-area: articledesign;
  text-align: center;

}
.skills-section-article-com {
  grid-area: articlecom;
  text-align: center;

}
.bouton-portfolio {
  grid-area: bouton;
}

.skills-section {
  position: relative;
    z-index:10;
    grid-template-areas:
        "titre"
        "articleweb"
        "articledesign"
        "articlecom"
        "bouton";
}

@media screen and (min-width:600px) {
  .skills-section-article-com {
    text-align: left;
    max-width: 35vw;
    border-left: 2px #ba008e solid;

  }
  .skills-section-article-design {
    text-align: right;
    justify-self: end;
    max-width: 35vw;
    border-right: 2px #ba008e solid;

  }
  .skills-section-article-web {
    border-bottom: 2px #ba008e solid;
    max-width: 70vw;
    padding-bottom: 0.4rem;


  }
  .skills-section li, .skills-section h4 {
    padding: 0.3rem;
  }
  .skills-section{
      background-color: black;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      grid-template-areas:
          "titre titre"
          "articleweb articleweb"
          "articledesign articlecom"
          "bouton bouton";
      position: relative;
      margin: 300px 0;
    }
    .skills-section-titre{
    justify-self:start;
    transform: translateY(-100%);
    margin-left: 50px;
    background-position: left top;
    }
    .skills-section::before{
      content: url(../img/bgbefore2.svg);
      height:auto;
      width: 100%;

      position:absolute;
      top:-70px;
    }
    .skills-section::after{
      content: url(../img/bgafter2.svg);
      height:auto;
      width: 100%;
      position:absolute;
      top: 98%;
      z-index:-1;
    }
    .bouton-portfolio{
      justify-self:start;
      transform: translateY(100%);
      margin-left: 50px;
    }
}
@media screen and (min-width:1000px) {
  .skills-section::before{
    top:-90px;
  }
}
@media screen and (min-width:1300px) {
.skills-section::before{
  top: -130px;}
}
/* ========================Portfolio===============================
================================================================== */

.portfolio-section-titre{
  padding-top: 12px;
  background: url(../img/book.svg) no-repeat center top ;
  background-size: 4.8rem;
}

.bouton-portfolio-complet{
  height: 15px;
  margin: 10px;
}

.titre-hex {
  background-color: rgba(102, 204, 255, 0.6);
  font-size:1rem;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;

}

.hex:hover .titre-hex{
  display: none;

}


.hex1{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
}

.hexagon1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/flytoqu.jpg);
    background-size: 120%;
    background-position: bottom 10% right 40%;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}



.hex2{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #0000FF;
    overflow: hidden;
    visibility: hidden;
}

.hexagon2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/mockupska.jpg) no-repeat;
    background-size: 220%;
    background-position: bottom 100% left 8% ;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}
.hex3{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
}

.hexagon3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/flyer_ifte.png) no-repeat ;
    background-size: 110%;
    background-position: bottom 90% left 50% ;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.hex4{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
}

.hexagon4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/mockup_armoiries.jpg) no-repeat;
    background-size: 145%;
    background-position: center;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.hex5{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
}

.hexagon5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/logobatucadlib.jpg);
    background-size: 130%;
    background-position: top 60% right 80%;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.hex6{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #000000;
    overflow: hidden;
    visibility: hidden;
}

.hexagon6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/affichetheatregroupe.jpg);
    background-size: 100%;
    background-position: center;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.hex7{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #ba008e;
    overflow: hidden;
    visibility: hidden;
}

.hexagon7{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ba008e;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.hex8{
    list-style-type: none;
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #0000FF;
    overflow: hidden;
    visibility: hidden;
}

.hexagon8{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #742a8f;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
    overflow: hidden;
}

.bouton-portfolio-complet{
  margin: 45px 0 20px 0;
  height: 40px;
}

@media screen and (max-width:600px) {

.portfolio-section-list {
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.portfolio-section-list li:nth-child(odd){
  margin: 0 1.2%;
}

.portfolio-section-list li:nth-child(even) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  transform: translatex(54%) rotate(-60deg) skewY(30deg);
}
}

@media screen and (min-width:600px) {

  .portfolio-section-titre{
  transform: translateY(-100%);
  margin-right: 50px;
  background-position: right top;
  }
  .bouton-contact{
  transform: translateY(100%);
  margin-right: 50px;
  }
  .titre-hex{
    font-size: 1.3rem;
  }
  .portfolio-section{
    background-color: black;
    max-width: 1400px;
    position: relative;
    margin: 300px 0;
    z-index:10;
    align-items: flex-end;
  }

  .portfolio-section::before{
    content: url(../img/bgbefore1.svg);
    height:auto;
    width: 100%;
    position:absolute;
    top:-70px;
  }
  .portfolio-section::after{
    content: url(../img/bgafter1.svg);
    height:auto;
    width: 100%;
    position:absolute;
    top:98%;
    z-index:-1;
  }
    .portfolio-section-list li:nth-child(3n+2){
    margin: 0 1.2%;
  }
    .portfolio-section-list li:nth-child(6n+4), .portfolio-section-list li:nth-child(6n+5), .portfolio-section-list li:nth-child(6n+6){
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }
    .portfolio-section-list li:nth-child(6n+4){
    margin-left: 0.5%;
  }
    .portfolio-section-list {
     position: relative;
     width: 70vh;
     max-width: 1000px;
     margin: auto;
     padding: 0;
     display:block;
     margin-bottom: 20px;
  }
  .bouton-portfolio-complet{
    margin: auto;
    padding: 10px 5px;
  }
}
@media screen and (min-width:1000px) {
  .portfolio-section::before{
    top:-90px;
  }
}
@media screen and (min-width:1300px) {
  .portfolio-section::before{
    top:-130px;
  }
}

/* ========================Contact===============================
================================================================== */

.form{
  background: url(../img/bg-form.png) no-repeat top center;
  width: 260px;
  height: 420px;
  grid-area: form;
}

.formulaire{
  margin:auto;
  width: 230px;
  padding-top: 20px;

}
.form-titre{
  font-size:0.9rem;
  width: 100%;
}
.form-input, .form-textarea, ::placeholder{
  width: 230px;
  font-family:'Cantarell';
  color:#742a8f;
  font-weight: bold;
  border: none;
  margin: 10px 0 ;
  padding: 4px;
}
.bouton-envoi{
  display:block;
  margin:auto;
}

.contact-section-titre{
  grid-area: titre;
  background: url(../img/hello.svg) no-repeat center top ;
  background-size: 5.2rem;
  padding-top:11px;
}

.contact-section-logos-facebook{
  grid-area: facebook;

}

.contact-section-logos-instagram{
  grid-area: insta;

}

.contact-section-adresse{
  grid-area: adresse;
  font-size: 1.6rem;
  color: #ba008e;
  text-align: center;
}
.contact-section-mail{
  grid-area: mail;
  font-size: 1.2rem;
}
.contact-section-arbre{
  grid-area: arbre;
  padding-top: 10px;

}
.contact-section{

  margin-bottom: 0;
  padding-bottom: 0;
  grid-template-areas:
       "titre titre"
       "form form"
       "facebook insta"
       "adresse adresse"
       "mail mail"
       "arbre arbre";
}
.link-mailto{
  color: white;
}

@media screen and (min-width:600px){
  .contact-section-titre{
  justify-self:start;
  transform: translateY(-100%);
  margin-left: 50px;
  background-position: left top;
  }
  .contact-section{
    background-color: black;
    grid-template-areas:
        "titre titre titre"
        "facebook insta form"
        "mail mail form"
        "arbre arbre adresse";
        position: relative;
        margin-top: 150px;
      }

    .contact-section::before{
      content: url(../img/bgbefore2.svg);
      height:auto;
      width: 100%;
      position:absolute;
      top:-70px;
    }


  .contact-section-arbre{
    margin-top: -70px;
      }
  .contact-section-adresse{
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
  }
  .contact-section-mail{
    align-self: start;
  }
  }
  @media screen and (min-width:1000px) {
    .contact-section::before{
      top:-90px;
    }
  }
  @media screen and (min-width:1300px) {
  .contact-section::before{
    top: -130px;}
  }
  /* ========================Footer===============================
  ================================================================== */
.footer-section{
  background-color: white;
  color:#ba008e;
  height: 5vh;
  padding: 10px;
}
.link{
  color: #ba008e;
}
.mentions{
  color: #742a8f;
}
.footer-arbre{
   width: 100vw;
   max-width: 1400px;
  position: relative;


}
.footer-arbre::before{
  content:'';
  background: url(../img/arbre_blanc.svg) no-repeat;
  background-size: auto 200px;
  width: 300px;
  height:200px;
  display:block;
  position: absolute;
  bottom:6vh;
  left:0;
  z-index: 15;


}


/* ================Page PORTFOLIO ===============================
================================================================== */
.bg-portfolio{

}
.accueil-portfolio{
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
}
.article-portfolio{
  width: 275px;
  background-color: black;
  padding: 10px;
  margin: 15px 5px;
  box-shadow: 10px 10px 15px rgba(255, 255, 255, .3);
  border-radius: 15px;
  grid-template-areas:
      "nom"
      "icons"
      "photo"
      "bouton"
      "about"
      "job";
}
.article-portfolio-client{
  grid-area: nom;
}
.article-portfolio-nomclient{
  margin: 5px 0 10px 0;
}
.article-portfolio-labelclient{
   margin: 5px 0;
}
.article-portfolio-aboutclient{
  grid-area: about;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0 10px;
}
.article-portfolio-photo{
  grid-area: photo;
  width: 200px;
  height: 350px;
  padding: 5px;
}

.portfolio-photos{
  margin:auto;
  width: 200px;
  height: auto;

}


.article-portfolio-bouton{
  grid-area: bouton;
  height: 30px;
  margin: 40px;
  text-align: center;
  vertical-align:
}
.article-portfolio-job{
  grid-area: job;
  text-align: center;
  padding: 0 10px;
  line-height: 1.3rem;

}
.article-portfolio-icons{
  grid-area: icons;
  margin-bottom: 15px;

}
.portfolio-icon{
  height: 50px;
  margin: 15px;
}
.iconallume{
  color: #ba008e;
}
.iconeteint{
  opacity: 0.3;
}
@media screen and (min-width:600px){
  .article-portfolio{
    width: 80vw;
    max-width: 1200px;
    grid-template-columns: 35% 65%;
    grid-template-rows:  auto;
    grid-template-areas:
        "photo icons"
        "photo nom"
        "photo about"
        ". job"
        "bouton .";
  }
  .article-portfolio-photo{
    width: 250px;

  }
  .portfolio-photos{
    width: 200px;
  }
  .article-portfolio-aboutclient{
    align-self: start;
  }
  .article-portfolio-client{
    align-self: start;
  }
  .article-portfolio-icons{
    justify-self: end;
  }
}
